<div class="max-w-lg mx-auto">
 {% image "images/ondas-2.png", "Ondas", "mx-auto w-24 md:w-32 lg:w-40" %}
</div>

<div class="max-w-xl mx-auto my-6">
    <span class="text-center block tracking-tight uppercase text-gray-500">Patrocinadores 24H24L 2021</span>
    <h2 class="text-primary font-bold text-2xl tracking-tight leading-none text-center">Empresas y profesionales comprometidos con el software libre</h2>

</div>

<div class="max-w-4xl mx-auto mt-8">

    <div class="flex flex-wrap items-center justify-center">
        
        {% set delay = 0.1 %}
        {% for patrocinador in patrocinadores %}
        <div class="w-1/2 sm:w-1/3 px-6 mb-6"  data-sal="slide-up" style="--sal-duration: 0.6s; --sal-delay: {{delay}}s;">
        
         {% for website in patrocinador.web %}
            <a href="{{ website.url | safe }}?ref=24h24l" title="{{ patrocinador.nombre}}">
                <img src="/24h24l-web/images/{{ patrocinador.pic}}" alt="{{ patrocinador.nombre }}" class="mx-auto w-60" /> 
            </a>
         {% endfor %}

        </div>
        {%   set delay = delay + 0.1 %}
        {% endfor %}


    </div>

</div>