---
title: Charlas evento online 24h24L Edición programación 11 y 12 diciembre 2021
ogtype: website
tematicas: 
    - "Desarrollo web"
    - "Seguridad"
    - "Microservicios"
    - "Metodologías Ágiles"
    - "Microcontroladores"
    - "Despliegues"
    - "Diseño UX"
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">11 y 12 diciembre 2021</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">Programación de las charlas 24H24L edición programación 2021</h1>
    <p class="text-gray-600 text-center my-4 px-4">Horas indicadas en hora de Córdoba (España) - [UTC + 1]</p>

</div>


<div class="max-w-4xl mx-auto mt-6 mb-10 px-2">
    <div class="mx-auto text-center">
    <button  onclick="location.href='https://www.google.com/calendar/render?action=TEMPLATE&text=Evento%20online%2024H24L%20Edici%C3%B3n%20programaci%C3%B3n&dates=20211211T150000Z/20211212T170000Z&details=Evento%20online%2024H24L%20Edici%C3%B3n%20programaci%C3%B3n%0ADate%20and%20Time%3A%20Dec%2011%2C%202021%203%3A00%20PM%20-%20Dec%2012%2C%202021%205%3A00%20PM%0AVenue%3A%20Evento%20online%2024h24l.org%0A24%20charlas%20de%20una%20hora%20de%20duraci%C3%B3n%20en%20una%20edici%C3%B3n%20dedicada%20a%20la%20programaci%C3%B3n%20y%20al%20mundo%20del%20desarrollo.%20&location=Evento%20online%2024h24l.org&trp=true&sf=true&output=xml#f'" type="button" class="text-center border-2 border-primary mt-4 py-3 px-8 text-primary rounded-full hover:bg-gray-100">
            <div class="flex items-center">
                
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary inline mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                </svg>
                
                <span class="font-bold text-lg">Llévalo al calendario</span>
            </div>
    </button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7 justify-center my-12 text-sm">
        
        {% for charla in charlas %}
         
            <div class="shadow-lg g-gray-50 bg-lines">
                <div class="border border-gray-200 rounded-t-lg px-4 py-8 h-96">

                    <div class="h-64">

                    <span class="text-primary text-center block text-3xl font-bold">{{ loop.index }}</span>
                    <h3 class="text-gray-600 tracking-tight leading-none font-bold text-2xl text-center mt-2">
                    {{ charla.titulo }}
                    </h3>

                    <div class="mt-2 text-center">
                    <p class="text-primary">{{ charla.fecha }}</p>
                    
                    
                    {%  if charla.participantes %}
                    <ul class="text-lg leading-none text-gray-500 text-lg mt-2">
                        {% for participante in charla.participantes %}
                            <li>{{participante.nombre}}</li>
                        {% endfor%}
                    </ul>
                    {% endif %}

                    </div>

                    </div>

                    <div class="mt-4 text-center">
                        <span class="text-xs text-gray-500">Moderada por</span>
                        <p class="text-lg text-gray-500">{{ charla.moderador}}</p>
                    </div>
                    
                </div>
                
                <div class="w-full py-2 bg-primary rounded-b-lg">
                <p class="text-center m-0 p-0"><a class="text-white" href="{{ charla.calendario }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -mt-1 inline mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                </svg>Añadir al Calendario</a></p>
                </div>
            </div>
     
    {% endfor %}


    </div>

   
</div>

{% include "patrocinadores.njk" %}

{% endblock %}



